<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>

    <% const name = 'jake' %>
    <%- include('./partial/nav.ejs') %>
    <%- include('./partial/banner.ejs') %>
    <h1>Home</h1>
    <p>Hello this is home with EJS</p>

    <main>
        <h1><%= name %>'s blog</h1>
        <p>Welcome visitors</p>
    </main>

    <%- include('./partial/footer.ejs') %>
    <script src="script.js"></script>
</body>
</html>