<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/nav.ejs') %>
    <%- include('../partial/banner.ejs') %>

    <div class="blogs">
        <h2>All blogs</h2>
    <%- include('../partial/blogList.ejs') %>
    </div>

    <%- include('../partial/footer.ejs') %>
    
</body>
</html>